# MOVIE RECOMMENDATON SYSTEM

NAME - KSHITIJ BHARDWAJ

SECTION - DS

CLASS ROLL NO. - 31

UNIV. ROLL NO. - 2013652

SUBJECT - ARTIFICIAL INTELLIGENCE

In [1]:
import pandas as pd
import numpy as np 
pd.set_option('display.max_colwidth',None) 
pd.set_option("display.max_rows",None,"display.max_columns",None)
import warnings
warnings.filterwarnings("ignore")

In [2]:
movie= pd.read_csv('D:\\work\\1python for datascience\\ibm project\\imdb dataset\\movies.csv')
rating = pd.read_csv('D:\\work\\1python for datascience\\ibm project\\imdb dataset\\ratings.csv')

In [3]:
#let's take quick peak at our first dataset
movie.head(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey Depew",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Bella Cola, Will Coyne, Sam Crewes, Jack Ennis, John Forde, Vera Linden, Mr. Marshall, Mr. McKenzie, Frank Mills, Ollie Wilson",True story of notorious Australian outlaw Ned Kelly (1855-80).,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helsengreen, Emil Albes, Hugo Flink, Mary Hagen","Two men of high rank are both wooing the beautiful and famous equestrian acrobat Stella. While Stella ignores the jeweler Hirsch, she accepts Count von Waldberg's offer to follow her home, ...",5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, Miss Robson, Helene Costello, Charles Sindelar, Mr. Howard, James R. Waite, Mr. Osborne, Harry Knowles, Mr. Paul, Mr. Brady, Mr. Corker",The fabled queen of Egypt's affair with Roman general Marc Antony is ultimately disastrous for both of them.,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de Liguoro, Pier Delle Vigne, Augusto Milla, Attilio Motta, Emilise Beretta",Loosely adapted from Dante's Divine Comedy and inspired by the illustrations of Gustav Doré the original silent film has been restored and has a new score by Tangerine Dream.,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [4]:
# let's check the no. of rows
movie.shape

(85855, 22)

In [5]:
#let's take quick peak at our second dataset
rating.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,votes_5,votes_4,votes_3,votes_2,votes_1,allgenders_0age_avg_vote,allgenders_0age_votes,allgenders_18age_avg_vote,allgenders_18age_votes,allgenders_30age_avg_vote,allgenders_30age_votes,allgenders_45age_avg_vote,allgenders_45age_votes,males_allages_avg_vote,males_allages_votes,males_0age_avg_vote,males_0age_votes,males_18age_avg_vote,males_18age_votes,males_30age_avg_vote,males_30age_votes,males_45age_avg_vote,males_45age_votes,females_allages_avg_vote,females_allages_votes,females_0age_avg_vote,females_0age_votes,females_18age_avg_vote,females_18age_votes,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,28,9,1,5,14,7.2,4.0,6.0,38.0,5.7,50.0,6.6,35.0,6.2,97.0,7.0,1.0,5.9,24.0,5.6,36.0,6.7,31.0,6.0,35.0,7.3,3.0,5.9,14.0,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,103,28,20,13,16,6.0,1.0,6.1,114.0,6.0,239.0,6.3,115.0,6.1,425.0,6.0,1.0,6.2,102.0,6.0,210.0,6.2,100.0,6.2,50.0,NaN,NaN,5.9,12.0,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,32,16,5,6,4,NaN,NaN,5.5,25.0,5.8,72.0,6.2,62.0,5.9,146.0,NaN,NaN,5.5,21.0,5.9,67.0,6.2,55.0,5.7,15.0,NaN,NaN,5.8,4.0,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,117,63,26,25,16,NaN,NaN,5.3,23.0,5.0,111.0,5.3,193.0,5.1,299.0,NaN,NaN,5.2,20.0,4.9,96.0,5.2,171.0,5.9,39.0,NaN,NaN,5.7,3.0,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,169,66,39,20,87,7.5,4.0,7.0,402.0,7.0,895.0,7.1,482.0,7.0,1607.0,8.0,2.0,7.0,346.0,7.0,804.0,7.0,396.0,7.2,215.0,7.0,2.0,7.0,52.0,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [6]:
# let's check the no. of rows
rating.shape

(85855, 49)

In [7]:
#now we're gonnna drop the colummns which are not required 
movie.drop('original_title', inplace =True, axis = 1)
movie.drop('year', inplace =True, axis = 1)
movie.drop('date_published', inplace =True, axis = 1)
movie.drop('duration', inplace =True, axis = 1)
movie.drop('language', inplace =True, axis = 1)
movie.drop('director', inplace =True, axis = 1)
movie.drop('writer', inplace =True, axis = 1)
movie.drop('production_company', inplace =True, axis = 1)
movie.drop('actors', inplace =True, axis = 1)
movie.drop('description', inplace =True, axis = 1)
movie.drop('budget', inplace =True, axis = 1)
movie.drop('usa_gross_income', inplace =True, axis = 1)
movie.drop('worlwide_gross_income', inplace =True, axis = 1)
movie.drop('metascore', inplace =True, axis = 1)
movie.drop('reviews_from_users', inplace =True, axis = 1)
movie.drop('reviews_from_critics', inplace =True, axis = 1)

In [8]:
# repeating the same for our second dataset.
rating.drop(rating.loc[:,'votes_10':'non_us_voters_votes'].columns,inplace=True, axis = 1)

In [9]:
# for further processing we will merge these two datasets together.
train = pd.merge(left = movie , right = rating , how ="left", left_on ='imdb_title_id',right_on ='imdb_title_id')

In [10]:
#let's check the dataset now.
train.head()

,imdb_title_id,title,genre,country,avg_vote,votes,weighted_average_vote,total_votes,mean_vote,median_vote
0,tt0000009,Miss Jerry,Romance,USA,5.9,154,5.9,154,5.9,6.0
1,tt0000574,The Story of the Kelly Gang,"Biography, Crime, Drama",Australia,6.1,589,6.1,589,6.3,6.0
2,tt0001892,Den sorte drøm,Drama,"Germany, Denmark",5.8,188,5.8,188,6.0,6.0
3,tt0002101,Cleopatra,"Drama, History",USA,5.2,446,5.2,446,5.3,5.0
4,tt0002130,L'Inferno,"Adventure, Drama, Fantasy",Italy,7.0,2237,7.0,2237,6.9,7.0

In [ ]:
#to create dummies in our project we'll extract genres of the movies and seperate them.
genres =set()


for i in range(0,len(train['genre'])):
    l=[]
    x = train['genre'][i].split(',')
    for y in x:
        y = y.strip()
        l.append(y)
        genres.add(y)
    train['genre'][i]=l

In [13]:
# now let's make genres into columns
train['Action']=0
train['Adult']=0
train['Adventure']=0
train['Animation']=0
train['Biography']=0
train['Comedy']=0
train['Crime']=0
train['Drama']=0
train['Family']=0
train['Fantasy']=0
train['Film-Noir']=0
train['History']=0
train['Horror']=0
train['Music']=0
train['Musical']=0
train['Mystery']=0
train['News']=0
train['Reality-TV']=0
train['Romance']=0
train['Sci-Fi']=0
train['Sport']=0
train['Thriller']=0
train['War']=0
train['Western']=0
train['Documentary']=0

In [14]:
#here we wil fill these recently created columns with binary no.s
# if a film is of a specific genre, that genre will be marked as 1 and
#every non-matching one will be marked as 0.

for i in range(0,len(train['genre'])):
    for j in train['genre'][i]:
        for k in genres:
            if(j==k):
                train["%s" %k][i] = 1

train.drop('genre',inplace =True, axis =1 )

In [15]:
train.head()

,imdb_title_id,title,country,avg_vote,votes,weighted_average_vote,total_votes,mean_vote,median_vote,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,History,Horror,Music,Musical,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Thriller,War,Western,Documentary
0,tt0000009,Miss Jerry,USA,5.9,154,5.9,154,5.9,6.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,tt0000574,The Story of the Kelly Gang,Australia,6.1,589,6.1,589,6.3,6.0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,tt0001892,Den sorte drøm,"Germany, Denmark",5.8,188,5.8,188,6.0,6.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,tt0002101,Cleopatra,USA,5.2,446,5.2,446,5.3,5.0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,tt0002130,L'Inferno,Italy,7.0,2237,7.0,2237,6.9,7.0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [16]:
# this function here is used to get the user prefered ratings.
def recommend1(gen,rate):
    recom = train[train[gen]==1]
    recom = recom[train['weighted_average_vote']>=rate]
    return recom

In [24]:
#recommendation time!
#here we will take the user favourite genre and how high ratings 
#(s)he wants for his/her recommendation
#and it gets output in the form of a list of top 10 movies

rate = int(input("enter the rating threshold - "))
gen =input("enter the Genre you're interested in - ")
print("\n\nokay then! \n")
rec = recommend1(gen,rate).head(10)
print("\n\n")
print(rec['title'])

enter the rating threshold - 7
enter the Genre you're interested in - Adventure


okay then!




4                      L'Inferno
24                       Cabiria
61                     I vampiri
77                         Judex
137                     Tih Minh
166              Male and Female
209            Il segno di Zorro
302                   Robin Hood
312    The Three Must-Get-Theres
347         Perché preoccuparsi?
Name: title, dtype: object